    behaviors {
        parsl: paren_shift_left {
            compatible = "zmk,behavior-mod-morph";
            label = "PAREN_SHIFT_LEFT";
            #binding-cells = <0>;
            bindings = <&kp LSHFT>, <&kp N9>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };
        parsr: paren_shift_right {
            compatible = "zmk,behavior-mod-morph";
            label = "PAREN_SHIFT_RIGHT";
            #binding-cells = <0>;
            bindings = <&kp RSHFT>, <&kp N0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        // sends the given keycode only if held for at least 100 ms. second keycode is ignored.
        // example use: "Custom" with "&strong PSCRN 0".
        strong: strong-press {
            compatible = "zmk,behavior-hold-tap";
            label = "STRONG_PRESS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <100>;
            quick-tap-ms = <100>;
            global-quick-tap;
            bindings = <&kp>, <&none>;
        };
    };

    combos { // binding indexes are 0-based
        compatible = "zmk,combos";

        #define COMBO_TIMEOUT 50

        #define COMBO_K2_B1(suffix, k1, k2, b1) \
            combo_##suffix { \
                timeout-ms = <COMBO_TIMEOUT>; \
                key-positions = <k1 k2>; \
                bindings = <b1>; \
            };

        #define COMBO_K2_B2(suffix, k1, k2, b1, b2) \
            combo_##suffix { \
                timeout-ms = <COMBO_TIMEOUT>; \
                key-positions = <k1 k2>; \
                bindings = <b1 b2>; \
            };

        // Horizontal combos
        COMBO_K2_B2(home_hj, 40, 41, &kp, HOME)         // HJ
        COMBO_K2_B2(end_kl, 42, 43, &kp, END)           // KL
        COMBO_K2_B2(cut, 48, 49, &kp, LC(X))            // XC
        COMBO_K2_B2(copy, 49, 50, &kp, LC(C))           // CV
        COMBO_K2_B2(paste, 50, 51, &kp, LC(V))          // VB
        COMBO_K2_B2(undo, 47, 48, &kp, LC(Z))           // ZX
        COMBO_K2_B2(selectall, 35, 36, &kp, LC(A))      // AS
        COMBO_K2_B2(home, 66, 67, &kp, HOME)            // \⯇
        COMBO_K2_B2(end, 67, 68, &kp, END)              // ⯇⯈
        COMBO_K2_B2(enter, 69, 70, &kp, ENTER)          // ⌫⌦
        COMBO_K2_B2(space, 70, 71, &kp, SPACE)          // ⌦⊞
        COMBO_K2_B2(pageup, 75, 76, &kp, PAGE_UP)       // ⯅⯆
        COMBO_K2_B2(pagedown, 76, 77, &kp, PAGE_DOWN)   // ⯆[

        // Vertical combos
        COMBO_K2_B1(az, 35, 47, &xa) // ä or Ä
        COMBO_K2_B1(uj, 29, 41, &xu) // ü or Ü
        COMBO_K2_B1(ol, 31, 43, &xo) // ö or Ö
        COMBO_K2_B1(sx, 36, 48, &xs) // ß or ẞ
        COMBO_K2_B1(ed, 25, 37, &xe) // €
    };

    macros {
        #define SEQUENCE_START &kp GRAVE &kp GRAVE
        #define SEQUENCE_END &kp X
        #define SEQUENCE_WAIT <0>
        #define SEQUENCE_TAP <5>

        #define SEND_U2(name, k1, k2) \
            name: name { \
                    label = #name; \
                    compatible = "zmk,behavior-macro"; \
                    #binding-cells = <0>; \
                    wait-ms = SEQUENCE_WAIT; \
                    tap-ms = SEQUENCE_TAP; \
                    bindings \
                        = <&macro_tap SEQUENCE_START &kp k1 &kp k2 SEQUENCE_END> \
                        ; \
                };

        #define SEND_U4(name, k1, k2, k3, k4) \
            name: name { \
                    label = #name; \
                    compatible = "zmk,behavior-macro"; \
                    #binding-cells = <0>; \
                    wait-ms = SEQUENCE_WAIT; \
                    tap-ms = SEQUENCE_TAP; \
                    bindings \
                        = <&macro_tap SEQUENCE_START &kp k1 &kp k2 &kp k3 &kp k4 SEQUENCE_END> \
                        ; \
                };

        #define SEND_EITHER_U2(name, r1, r2, s1, s2) \
            name##_regular: name##_regular { \
                    compatible = "zmk,behavior-macro"; \
                    #binding-cells = <0>; \
                    wait-ms = SEQUENCE_WAIT; \
                    tap-ms = SEQUENCE_TAP; \
                    bindings \
                        = <&macro_tap SEQUENCE_START &kp r1 &kp r2 SEQUENCE_END> \
                        ; \
                }; \
            \
            name##_shifted: name##_shifted { \
                    compatible = "zmk,behavior-macro"; \
                    #binding-cells = <0>; \
                    wait-ms = SEQUENCE_WAIT; \
                    tap-ms = SEQUENCE_TAP; \
                    bindings \
                        = <&macro_tap SEQUENCE_START &kp s1 &kp s2 SEQUENCE_END> \
                        ; \
                }; \
            \
            name: name { \
                compatible = "zmk,behavior-mod-morph"; \
                #binding-cells = <0>; \
                bindings = <&name##_regular>, <&name##_shifted>; \
                mods = <(MOD_LSFT|MOD_RSFT)>; \
            };

        #define SEND_EITHER_U2U4(name, r1, r2, s1, s2, s3, s4) \
            name##_regular: name##_regular { \
                    compatible = "zmk,behavior-macro"; \
                    #binding-cells = <0>; \
                    wait-ms = SEQUENCE_WAIT; \
                    tap-ms = SEQUENCE_TAP; \
                    bindings \
                        = <&macro_tap SEQUENCE_START &kp r1 &kp r2 SEQUENCE_END> \
                        ; \
                }; \
            \
            name##_shifted: name##_shifted { \
                    compatible = "zmk,behavior-macro"; \
                    #binding-cells = <0>; \
                    wait-ms = SEQUENCE_WAIT; \
                    tap-ms = SEQUENCE_TAP; \
                    bindings \
                        = <&macro_tap SEQUENCE_START &kp s1 &kp s2 &kp s3 &kp s4 SEQUENCE_END> \
                        ; \
                }; \
            \
            name: name { \
                compatible = "zmk,behavior-mod-morph"; \
                #binding-cells = <0>; \
                bindings = <&name##_regular>, <&name##_shifted>; \
                mods = <(MOD_LSFT|MOD_RSFT)>; \
            };

        // ä and Ä
        SEND_EITHER_U2(xa, E, N4, C, N4)

        // ö and Ö
        SEND_EITHER_U2(xo, F, N6, D, N6)

        // ü and Ü
        SEND_EITHER_U2(xu, F, C, D, C)

        // ß and ẞ
        SEND_EITHER_U2U4(xs, D, F, N1, E, N9, E)

        // €
        SEND_U4(xe, N2, N0, A, C)

        // ×
        SEND_U2(xx, D, N7)

        // ❶❷❸❹❺❻❼❽❾⓿
        SEND_U4(xn1, N2, N7, N7, N6)
        SEND_U4(xn2, N2, N7, N7, N7)
        SEND_U4(xn3, N2, N7, N7, N8)
        SEND_U4(xn4, N2, N7, N7, N9)
        SEND_U4(xn5, N2, N7, N7, A)
        SEND_U4(xn6, N2, N7, N7, B)
        SEND_U4(xn7, N2, N7, N7, C)
        SEND_U4(xn8, N2, N7, N7, D)
        SEND_U4(xn9, N2, N7, N7, E)
        SEND_U4(xn0, N2, N4, F, F)

        // ⯈⯇⯅⯆
        SEND_U4(xtr, N2, B, C, N8)
        SEND_U4(xtl, N2, B, C, N7)
        SEND_U4(xtu, N2, B, C, N5)
        SEND_U4(xtd, N2, B, C, N6)

        // »«
        SEND_U2(xdot, B, B)
        SEND_U2(xcomma, A, B)

        // °
        SEND_U2(xdegree, B, N0)
    };